  .form-group {
    margin-top: 10px;
    margin-bottom: -10px !important;
    width: 100%;
  }

  table {
    width: 91%;
    border: 1px solid #444444;
    margin-left: 50px;
  }

  th {
    font-weight: bold;
    background-color: skyblue;
  }

  th, td {
    border: 1px solid #444444;
  }

  #recommendation {
    margin-top: 10px;
    margin-left: 50px;
    width: 91%;    
  }

  .member-40-width {
    width: 40%;
  }

  .member-60-width {
    width: 60%;
  }

  